@import "./variables.scss";

@font-face {
  font-family: "Best School";
  src: url("../resources/Fonts/best-school.otf");
}

* {
  outline: 0;
  font-family: "Best School";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
  background-color: $brown-light;
}

#root {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1280px;
}
