@import "../../styles/variables.scss";

.team {
  width: 100%;
  align-items: center;
  padding: 64px 0;
  background-color: $darkgray;

  @media (max-width: 768px) {
    padding: 32px 0;
  }

  &-title {
    align-items: center;
    text-align: center;

    & > span {
      color: $brown;
      font-size: 48px;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 32px;
      }
    }

    & > p {
      font-size: 20px;
      margin: 16px 0 48px;
      color: $gray;

      @media (max-width: 768px) {
        font-size: 16px;
        margin: 16px 0 32px;
      }
    }
  }

  &-wrapper {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    @media (max-width: 768px) {
      grid-template: auto / 1fr 1fr;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
    }
  }

  &-member {
    &-item {
      width: 100%;
      align-items: center;
      text-align: center;

      & > img {
        width: 100%;
        border-radius: 8px;
      }

      & > span {
        &:first-of-type {
          color: $brown;
          font-size: 20px;
          font-weight: bold;
          padding: 8px 0 0;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        &:last-of-type {
          color: $gray;

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }

    &-social {
      padding: 8px 0 0;

      & > a {
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 12px;

          @media (max-width: 768px) {
            margin-right: 8px;
          }
        }

        & > svg {
          color: $brown;
          width: 24px;
          height: 24px;

          @media (max-width: 768px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
