@import "../../../styles/variables.scss";

.faq-item {
  width: 100%;
  border-bottom: 1px solid $gray;

  & > span {
    padding: 24px 0;
    color: $brown;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 16px 0;
      font-size: 18px;
    }
  }

  & > p {
    color: $gray;
    font-size: 18px;
    margin: 0 0 16px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
