@import "../../../styles/variables.scss";

.faq-item {
  width: 100%;
  background-color: $black-light;
  padding: 12px;
  border-radius: 16px;
  margin: 12px 0;

  & > span {
    padding: 12px 0;
    color: $white;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @media (max-width: 768px) {
      padding: 16px 0;
      font-size: 20px;
    }

    & > svg {
      margin-left: 12px;
      min-width: 32px;
      font-size: 32px;
    }
  }

  & > p {
    color: $gray;
    font-size: 20px;
    margin: 0 0 16px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}
