@import "../../styles/variables.scss";

.navbar {
  position: fixed;
  width: 100%;
  height: 112px;
  justify-content: center;
  border-bottom: 1px solid $brown-light;
  background-image: url("../../resources/navbar.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
  z-index: 99;

  @media (max-width: 768px) {
    height: 96px;
  }

  &-wrapper {
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    min-width: 144px;

    & > span {
      color: $brown;

      &:first-child {
        font-size: 18px;
      }

      &:last-child {
        color: $theme;
        font-size: 32px;
        line-height: 32px;
        font-weight: bold;
        letter-spacing: 4px;
      }
    }
  }

  &-links {
    color: $brown;
    font-size: 24px;

    @media (max-width: 1024px) {
      display: none;
    }

    &-anchor {
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &-socials {
    margin-left: 24px;
    align-items: center;

    & > a {
      align-items: center;
      cursor: pointer;
      white-space: nowrap;

      @media (max-width: 768px) {
        display: none;
      }

      &:not(:last-of-type) {
        margin-right: 8px;
      }

      &:last-of-type {
        color: $brown;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 24px;
        border: 2px solid $brown;
        border-radius: 8px;
      }

      & > svg {
        width: 32px;
        height: 32px;
        color: $brown;
      }
    }

    & > button {
      display: none;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      border: 0;
      background-color: $brown-light;
      margin-left: 16px;

      @media (max-width: 1024px) {
        display: flex;
      }

      & > svg {
        color: $brown;
        font-size: 24px;

        &:hover {
          color: $gray;
        }
      }
    }
  }
}
