@import "../../styles/variables.scss";

.sidebar {
  position: fixed;
  align-items: center;
  width: 360px;
  height: 100vh;
  right: -360px;
  backdrop-filter: blur(016px);
  background-color: rgba($color: $black, $alpha: 0.3);
  z-index: 100;
  transition: 0.5s;

  @media (max-width: 425px) {
    width: 100%;
    right: -100%;
  }

  &-links {
    padding: 128px 0 24px;

    &-anchor {
      font-size: 36px;
      padding: 16px 0;
      text-align: center;
      color: $white;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  &-socials {
    cursor: pointer;

    & > a {
      color: $white;

      &:not(:last-of-type) {
        margin-right: 16px;
      }

      & > svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  & > a {
    display: none;
    color: $white;
    text-decoration: none;
    font-size: 18px;
    margin: 64px 0 0;
    padding: 16px 24px;
    border: 2px solid $white;
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.sidebar-show {
  right: 0% !important;
}
