@import "../../styles/variables.scss";

.sidebar {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
  right: -100%;
  backdrop-filter: blur(016px);
  background-color: rgba($color: $brown, $alpha: 0.3);
  z-index: 100;
  transition: 0.5s;

  &-links {
    padding: 72px 0 24px;

    &-anchor {
      font-size: 24px;
      padding: 16px 0;
      text-align: center;
      color: $brown;
    }
  }

  &-socials {
    display: none;
    cursor: pointer;

    @media (max-width: 768px) {
      display: flex;
    }

    & > a {
      color: $brown;

      &:not(:last-of-type) {
        margin-right: 16px;
      }

      & > svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  & > a {
    display: none;
    color: $brown;
    text-decoration: none;
    font-size: 18px;
    margin: 64px 0 0;
    padding: 16px 24px;
    border: 2px solid $brown;
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.sidebar-show {
  right: 0% !important;
}
