@import "../../styles/variables.scss";

.footer {
  width: 100%;
  justify-content: center;
  padding: 48px 0;
  border-top: 1px solid $gray;

  @media (max-width: 768px) {
    padding: 8px 0 16px;
  }

  &-wrapper {
    align-items: center;
  }

  &-logo {
    min-width: 144px;
    padding: 16px 0;

    & > span {
      &:first-child {
        color: $brown;
        font-size: 18px;
      }

      &:last-child {
        color: $theme;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 4px;
      }
    }
  }

  &-socials {
    padding: 0 0 16px;

    & > a {
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 16px;
      }

      & > svg {
        color: $brown;
        width: 32px;
        height: 32px;
      }
    }
  }

  &-contract {
    padding: 8px 0;
    cursor: pointer;

    & > a {
      color: $brown;
      text-decoration: none;
      text-align: center;
    }
  }

  &-copyright {
    color: $brown;
    text-align: center;
  }
}
