@import "../../styles/variables.scss";

.slider {
  position: relative;
  width: 100%;
  padding: 72px 0 32px;
  align-items: center;
  background-color: $black;

  &-title {
    display: grid;
    grid-template: auto / 65% 35%;
    margin-bottom: calc(272px + 40px);

    @media (max-width: 768px) {
      grid-template: auto / 1fr;
      margin-bottom: calc(210px + 8px);
    }

    & > div {
      padding-right: 48px;

      @media (max-width: 768px) {
        padding-right: 0px;
      }

      & > span {
        color: $white;
        font-size: 72px;
        font-weight: bold;

        @media (max-width: 768px) {
          text-align: center;
          font-size: 56px;
        }

        & > span {
          color: $pink;
        }
      }

      & > p {
        color: $white;
        font-size: 32px;
      }
    }

    & > a {
      height: min-content;
      color: $pink;
      background-color: $white;
      text-decoration: none;
      padding: 16px 24px;
      border: none;
      width: min-content;
      white-space: nowrap;
      margin-top: 24px;
      border-radius: 8px;
      font-size: 28px;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &-slide {
    position: absolute;
    overflow: hidden;
    width: 3264px;
    right: 0px;
    bottom: 24px;
    animation: slider_big 60s linear infinite;

    @media (max-width: 768px) {
      bottom: 16px;
      width: 2088px;
      animation: slider_small 60s linear infinite;
    }

    &-item {
      width: 272px;
      align-items: center;
      padding: 0 8px;

      @media (max-width: 768px) {
        width: 174px;
        padding: 0 4px;
        font-size: 14px;
      }

      & > img {
        width: 100%;
      }

      & > span {
        color: $white;
        margin-top: 8px;
        font-size: 24px;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}

@keyframes slider_big {
  0% {
    right: 0px;
  }

  50% {
    right: calc(100% - 3264px);
  }

  100% {
    right: 0px;
  }
}

@keyframes slider_small {
  0% {
    right: 0px;
  }

  50% {
    right: calc(100% - 2088px);
  }

  100% {
    right: 0px;
  }
}
